
@{
    ViewBag.Title = "Index";
}

<div>
    <p>
        <center>
            <br>
            <HR width="20%">
            <h2>Bienvenido</h2>
            <HR width="20%">
            <br>
            ¿Que desea hacer hoy?
        </center>
    </p>
</div>